<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>diff</title>
    <script src="../../dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="val">1</div>
        <div v-if="!val">2</div>
        <button @click="val = !val">change</button>
    </div>
    <div id="app1">
        <div>
            <ul>
                <li v-for="item in items" :key="item.id">{{ item.val }}</li>
            </ul>
        </div>
        <button @click="change">change</button>
    </div>
</body>

<script>
    // new Vue({
    //     el: '#app',
    //     data() {
    //         return {
    //             val: true
    //         }
    //     }
    // })
    new Vue({
        el: '#app1',
        data() {
            return {
                items: [
                    { id: 0, val: 'A' },
                    { id: 1, val: 'B' },
                    { id: 2, val: 'C' },
                    { id: 3, val: 'D' }
                ]
            }
        },
        methods: {
            change() {
                // this.items.shift()
                // this.items.pop()
                // this.items.reverse().push({ id: 4, val: 'E' })
                this.items = [{ id: 4, val: 'E' }]
            }
        }
    })
</script>

</html>